@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

:root {
  --font-size-smaller: 14px;
  --font-size-standard: 16px;
  --font-size-bigger: 18px;
  --border-radius: 5px;
  --border-color: rgb(204, 204, 204);
  --light-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  --heavy-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  --light-grey: rgba(238, 238, 238, 0.5);
  --light-grey-no-opacity: rgb(238, 238, 238);
}

* {
  font-family: 'Prompt', sans-serif;
  font-size: var(--font-size-standard);
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 5% 2%;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: var(--border-radius);
  outline: none;
  border: 1px solid #ccc;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

#search-bar-container {
  position: -webkit-fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 5%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.95);
}

#search-bar {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

.city-search {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin-right: 10px;
}

.city-search__input {
  width: 100%;
}

.city-search__suggestions {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  max-height: 60vh;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 5px 0 0;
  top: 43px;
  box-shadow: var(--heavy-shadow);
  overflow: scroll;
  background-color: var(--light-grey-no-opacity);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  transition: visibility 0.15s, opacity 0.15s linear;
}

.city-search__suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  cursor: default;
  transition-duration: 0.2s;
}

.city-search__suggestions > li:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.city-search__suggestions > li:hover {
  background-color: #bcdcdb;
}

.city-search__suggestions > li:first-child:hover {
  background-color: unset;
}

.city-search__button {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 5px 0;
}

.city-search__button:hover {
  cursor: pointer;
}

.city-search__all-button {
  background: none;
  border: none;
  border-top: 1px solid var(--border-color);
  width: 100%;
  text-align: center;
  margin-top: 0;
  padding-top: 8px;
}

.city-search__all-button:hover {
  cursor: pointer;
}

.city-search__error {
  position: absolute;
  top: 50px;
  max-width: 30em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 1.25em;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: var(--heavy-shadow);
}

.city-search__error::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em;
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom-color: #fff;
  -webkit-filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}

.number-of-events {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  font-size: var(--font-size-smaller);
  width: 50px;
  height: 38px;
}

.number-of-events__input {
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

#content {
  margin-top: 69px;
}

.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.event-list__item {
  width: 100%;
}

.event-list__item:first-of-type > div {
  margin: max(20px, 2vh) 0 2vh;
}

.event-list__warning {
  width: 100%;
  margin-top: calc(2vh - 4px);
}

.show-more-events {
  margin-top: 2vh;
  max-width: 100px;
}

.show-more-events:hover {
  cursor: pointer;
}

.show-more-events > p {
  transition: 0.3s;
}

.show-more-events:hover > p {
  transform: scale(1.1);
}

.show-more-events:hover > span {
  -webkit-animation: bounce;
  animation: bounce 0.5s infinite alternate;

  /* margin-top: 3vh; */
}

.event {
  padding: 10px;
  min-width: 250px;
  margin: 2vh 0;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: var(--light-shadow);
  background-color: rgba(221, 246, 255, 0.1);
  transition-duration: 0.3s;
}

.event:hover,
.event:focus {
  transform: scale(1.005);
}

.event__window {
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  cursor: unset;
}

.event__show-more-button {
  width: 100%;
  padding: 10px 0 0;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.01s;
}

.turn {
  transform: rotate(-0.5turn);
}

.event__summary {
  font-size: var(--font-size-bigger);
  font-weight: 600;
}

.event__details {
  text-align: justify;
  font-weight: 300;
  background-color: var(--light-grey);
  border-radius: var(--border-radius);
  padding: 5px 10px;
}

.group-name {
  text-transform: uppercase;
}

.going,
.visibility {
  font-style: italic;
}

.event__description {
  overflow-x: hidden;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}

.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff;
  padding: 20px;
  border: var(--border-radius) solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
  background: #1669f2;
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}

.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }

  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 60%, 0);
  }
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 60%, 0);
  }
}
